.head1{
	color:blue;
}

.bg_red{
	background-color: red
}



#heading1{
	color:cyan;
	background-color: rgb(180,20,00);
}

do_green{
color:green;
}

.box{
	width:100px;
	height: 100px;
	background-color: rgb(00,40,170);
}